<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <b>Welcome {{email}}</b>,
        <h1>Your password reset has been initiated.</h1>
		<p>Someone has initiated a password reset for your FloorWalk account with the email address: {{ email }}</p>
		<p style="background-color: lightgreen; color: red; width: 100px; height: 45px; text-align: center; line-height: 45px; font-size: 16px;">
            {{otp}}
        </p>
        <p>If you did not initiate this password reset, you can safely delete or ignore this email.</p>
		<p>--</p>
		<p>FloorWalk Team</p>
    </body>
</html>
