<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <b>Welcome {{email}}</b>,

        <p>Thank you for choosing FloorWalk. You are just one step away from getting started. Please enter the below code and verify your email with us.</p>

        <p style="background-color: lightgreen; color: red; width: 100px; height: 45px; text-align: center; line-height: 45px; font-size: 16px;">
            {{otp}}
        </p>
       <p> Why verify your email?:</p>

        <p> 1. Use the above code and enter where asked.</p>
        <p>2. This is to make sure reports and communications are sent to the correct email address</p>
        <p>3. You will be able to access your dashboard with your verified email address</p>
        
        <p>Thank You for Joining Us,</p>
        <p>Team FloorWalk.</p>
        
        <div style="background-color:lightgrey;margin-top:30px;padding:10px;">
            <b>Facing an issue? Get in touch with us:</b>
            <p>+91 78360 66777</p>
            <p>contactus@floorwalk.in</p>
        </div>
         <div style="background-color:blue; height:55px;margin-top:5px ;margin:center;">
            <i class="fa fa-facebook" style=" margin:15px; font-size:24px;"><a  target='_blank' href="https://www.facebook.com/FloorWalk"></a></i>
            <i class="fa fa-twitter" style="margin:5px; font-size:24px;"><a  target='_blank' href="https://twitter.com/FloorWalkIndia"></a></i>
            <i class="fa fa-instagram" style="margin:5px ;font-size:24px;"><a target='_blank' href="https://www.instagram.com/floorwalk/"></a></i>
            <i class="fa fa-linkedin" style="margin:5px ;font-size:24px;"><a target='_blank' href="https://www.linkedin.com/company/floorwalk"></a></i>
        </div> 
    </body>
</html>
