.vimrc
*.pyc
*.swp
venv/
properties.py
properties.ini
frontend/node_modules/
frontend/dist/
frontend/test_results/
kronos.egg-info/
dist/
celerybeat-schedule
htmlcov/
test-results/
.coverage
speechtotextproject-293205-0198498c173f.json