include manage.py requirements.txt strings.py
include *.sh
include properties.ini properties.sample.ini
recursive-include **/fixtures *.json
recursive-include **/templates *
recursive-include frontend/img *
recursive-include frontend/dist *
recursive-exclude frontend/node_modules *
recursive-exclude venv *
