include manage.py requirements.txt strings.py
include *.sh
include properties.sample.ini
exclude properties.ini
recursive-include *.csv
recursive-include **/fixtures *.json
recursive-include **/templates *
recursive-include **/static *
recursive-include frontend/img *
recursive-include frontend/dist *
recursive-include datasets *
recursive-exclude frontend/node_modules *
recursive-exclude venv *
