boto3==1.4.4
botocore==1.5.11
Django==1.10
django-filter==0.15.3
django-widget-tweaks==1.4.1
djangorestframework==3.4.7
docutils==0.13.1
googlemaps==2.4.6
gunicorn==19.6.0
jmespath==0.9.1
psycopg2==2.6.2
python-dateutil==2.6.0
s3transfer==0.1.10
six==1.10.0
