$label_primary_base : #337ab7;
$label_success_base : #5cb85c;
$label_danger_base : #d9534f;
$label_warning_base: #F0AD4E;

.label-primary1 {
	background-color: lighten($label_primary_base, 20%);
}

.label-primary2 {
	background-color: darken($label_primary_base, 20%);
}

.label-success2 {
	background-color: darken($label_success_base, 20%);
}

.label-danger2 {
	background-color: darken($label_danger_base, 20%);
}

.label-warning2 {
	background-color: darken($label_warning_base, 20%);
}


$panel_success_base : #DFF0D8;
$darken_percentage: 5%;

.panel-success-hoverable {
	border-color: $panel_success_base;

	.panel-heading {
		background-color: $panel_success_base;
	}

	&:hover {
		border-color: darken($panel_success_base, $darken_percentage);

		.panel-heading {
			background-color: darken($panel_success_base, $darken_percentage);
		}
	}
}

/* Print Fix Styles */
@media print {
	.container {
		width: 100%;
	}
}

@media print {

	[class*="col-md"],
	[class*="col-sm"],
	[class*="col-xs"] {
		float: none;
	}
}

body {
	-webkit-print-color-adjust: exact;
}

/*Progress Bar min Style */
.progress-bar {
	min-width: 2em;
}

/* disable navbar collapse */
.navbar-collapse.collapse {
	display: block !important;
}

.navbar-nav>li,
.navbar-nav {
	float: left !important;
}

.navbar-nav.navbar-right:last-child {
	margin-right: -15px !important;
}

.navbar-right {
	float: right !important;
}

/* container-fluid sm override */
@media (max-width: 992px) {
	.container {
		width: 100%;
	}
}


/* Fade Animation Classes */
.fade-enter {
	opacity: 0.01;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-in;
}

.fade-leave {
	opacity: 1;
}

.fade-leave.fade-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}


/* FadeFast Animation Classes */
.fadeFast-enter {
	opacity: 0.01;
}

.fadeFast-enter.fadeFast-enter-active {
	opacity: 1;
	transition: opacity 100ms ease-in;
}

.fadeFast-leave {
	opacity: 1;
}

.fadeFast-leave.fadeFast-leave-active {
	opacity: 0.01;
	transition: opacity 100ms ease-in;
}

/* SlideTop Animation Classes */
.slide-enter {
	transform: translateY(-100%);
	z-index: -1000;
}

.slide-enter.slide-enter-active {
	transform: translateY(0%);
	transition: transform 500ms ease-in-out;
	z-index: initial;
}

.slide-leave {
	transform: translateY(0%);
	z-index: initial;
}

.slide-leave.slide-leave-active {
	transform: translateY(-100%);
	transition: transform 300ms ease-in-out;
	z-index: -1000;
}


/* Client Rating Styles */

//v1
//$rating_bad_color : #F15B36;
//$rating_poor_color : #F6923A;
//$rating_average_color : #EDE73E;
//$rating_good_color: #9BC438;
//$rating_excellent_color: #76B049;

//v2
//$rating_bad_color : #FF0000;
//$rating_poor_color : #FF8000;
//$rating_average_color : #FFFF00;
//$rating_good_color: #A5FF00;
//$rating_excellent_color: #00FF00;

//HSV Gradient from #FF0000 to #00FF00
//
//1 FF0000
//2 FF3300
//3 FF6600
//4 FF9900
//5 FFCC00
//6 FEFF00
//7 CBFF00
//8 98FF00
//9 65FF00
//10 32FF00
//11 00FF00

//3
$rating_bad_color : #FF6600;
//5
$rating_poor_color : #FFCC00;
//6
$rating_average_color : #FEFF00;
//7
$rating_good_color: #CBFF00;
//9
$rating_excellent_color: #65FF00;


// Rating Table Styles
$table_lighten_percentage: 30%;

.table> {

	thead>,
	tbody>,
	tfoot> {
		tr {

			&,
			>td,
			>th {
				&.rating-na {
					background-color: #F1F1F1;
				}

				&.rating-bad {
					background-color: lighten($rating_bad_color, $table_lighten_percentage);
				}

				&.rating-poor {
					background-color: lighten($rating_poor_color, $table_lighten_percentage);
				}

				&.rating-average {
					background-color: lighten($rating_average_color, $table_lighten_percentage);
				}

				&.rating-good {
					background-color: lighten($rating_good_color, $table_lighten_percentage);
				}

				&.rating-excellent {
					background-color: lighten($rating_excellent_color, $table_lighten_percentage);
				}
			}
		}
	}
}

// Rating Panel Styles

$panel_border_lighten_pct: 20%;

$panel_heading_text_darken_pct: 20%;
$panel_heading_bg_lighten_pct: 40%;

.panel-rating-bad {
	>.panel-heading {
		color: darken($rating_bad_color, $panel_heading_text_darken_pct);
		background-color: lighten($rating_bad_color, $panel_heading_bg_lighten_pct);
		border-color: lighten($rating_bad_color, $panel_border_lighten_pct);
	}

	border-color: lighten($rating_bad_color, $panel_border_lighten_pct);
}

.panel-rating-poor {
	>.panel-heading {
		color: darken($rating_poor_color, $panel_heading_text_darken_pct);
		background-color: lighten($rating_poor_color, $panel_heading_bg_lighten_pct);
		border-color: lighten($rating_poor_color, $panel_border_lighten_pct);
	}

	border-color: lighten($rating_poor_color, $panel_border_lighten_pct);
}

.panel-rating-average {
	>.panel-heading {
		color: darken($rating_average_color, $panel_heading_text_darken_pct);
		background-color: lighten($rating_average_color, $panel_heading_bg_lighten_pct);
		border-color: lighten($rating_average_color, $panel_border_lighten_pct);
	}

	border-color: lighten($rating_average_color, $panel_border_lighten_pct);
}

.panel-rating-good {
	>.panel-heading {
		color: darken($rating_good_color, $panel_heading_text_darken_pct);
		background-color: lighten($rating_good_color, $panel_heading_bg_lighten_pct);
		border-color: lighten($rating_good_color, $panel_border_lighten_pct);
	}

	border-color: lighten($rating_good_color, $panel_border_lighten_pct);
}

.panel-rating-excellent {
	>.panel-heading {
		color: darken($rating_excellent_color, $panel_heading_text_darken_pct);
		background-color: lighten($rating_excellent_color, $panel_heading_bg_lighten_pct);
		border-color: lighten($rating_excellent_color, $panel_border_lighten_pct);
	}

	border-color: lighten($rating_excellent_color, $panel_border_lighten_pct);
}

// Rating Progress Bar Styles

$progress_bar_bg_lighten_pct : 5%;

.progress-bar-rating-bad {
	background-color: darken($rating_bad_color, $progress_bar_bg_lighten_pct);
}

.progress-bar-rating-poor {
	background-color: darken($rating_poor_color, $progress_bar_bg_lighten_pct);
}

.progress-bar-rating-average {
	background-color: darken($rating_average_color, $progress_bar_bg_lighten_pct);
}

.progress-bar-rating-good {
	background-color: darken($rating_good_color, $progress_bar_bg_lighten_pct);
}

.progress-bar-rating-excellent {
	background-color: darken($rating_excellent_color, $progress_bar_bg_lighten_pct);
}

.watermark {
	position: fixed;
	bottom: 50%;
	left: 36%;
	opacity: 0.2;
	z-index: 99;
	color: #000;
}

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 8%;
	right: 0;
	background-color: #eee;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 2% !important;
	margin-top: 4%;
	padding-bottom: 5%;
}

.sidebar li {
	padding: 5px 5px 5px 0px;
	text-decoration: none;
	font-size: 16px;
	display: block;
	transition: 0.3s;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 5%;
	font-size: 36px;
	margin-left: 50px;
	text-decoration: none;
}

.sidebar .savebtn {
	margin-bottom: 5%;
	margin-left: 5%;
}

.sidebar span {
	padding: 5px;
}

.checkpoint {
	bottom: 3%;
	position: fixed;
	right: 3%;
	z-index: 9999;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
		top: 15%;
	}

	.sidebar a {
		font-size: 18px;
	}
}

// Rating Gauge Styles


@keyframes blink {
	0% {
		opacity: 0;
	}

	50% {
		opacity: .5;
	}

	100% {
		opacity: 1;
	}
}


.checkbox-bg-danger {
	width: 20px !important;
	height: 20px !important;
	margin: 0px 7px !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	box-shadow: none;
	font-size: 1.5em;
	text-align: center;
	background: #d9534f;
	border-radius: 0.2rem;
}

.checkbox-bg-danger:checked:after {
	content: '✔';
	color: white;
}

.rdt {
	position: inherit !important;
}

.zoom-div {
	margin-top: 10px;
	max-width: 100%;
	max-height: 500px;
	overflow: auto;
	cursor: grab;
	border: solid 1px rgba(128, 128, 128, 0.25);
	cursor: -o-grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.zoom-img {
	height: auto;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
	position: fixed;
	margin: auto;
	width: 40%;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
	height: 100%;
	overflow-y: auto;
}

.star-rating {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	text-align: center;
}

.star-rating-lg {
	font-size: 2.5em;
}

.star-rating-md {
	font-size: 2em;
}

.star-rating-sm {
	font-size: 1.6em;
}

.star-rating input {
	display: none;
}

.star-rating label {
	color: #ccc;
	cursor: pointer;
}

.star-rating :checked~label {
	color: #f90;
}

.star-rating label:hover,
.star-rating label:hover~label {
	color: #fc0;
}

//------------ Auditor -> view opportunity part----------------------
.truncateStyle1 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

;

@media screen and (max-width: 393px) {
	.truncateStyle1 {
		white-space: normal;
	}
}

.summary_text {
	display: flex;
	flex-wrap: wrap;
	overflow: scroll;
}

.summary_text::-webkit-scrollbar {
	display: none;
}

.report_scroll {
	overflow: scroll;
}

.report_scroll::-webkit-scrollbar {
	display: none;
}


//----------------------------------MANAGER LOGOUT DROPDOWN----------------

.dropdown-style {
	display: block;
	left: auto;
}

@media screen and (max-width: 770px) {
	.dropdown-style {
		display: block;
		right: 0px;
	}
}

// --------------------------------------------------------------
.text_container {
	width: 100%;
	border-radius: 5px;
	padding-bottom: 1rem;
}

.question {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0rem;
	list-style: none;
	text-decoration: none;
	font-size: 2rem;
	color: #7e7e7e;

}
.question:hover{
	color: #2148d5;
}

.answer {
	padding: 1rem 0rem;
	display: none;
	flex-direction: column;
	gap: 2rem;
	font-size: 1.7rem;
	margin-left: 2rem;
}

.toggle_btn {
	padding: .5rem .7rem;
	border-radius: 5px;
	border: none;
	background: transparent;
}

.display_answer {
	display: flex;
}

.dashboard_links a {
	list-style: none;
	text-decoration: none;
	color: #979696;
}
.dashboard_links a:hover{
	color: #2148d5;
}
.default_small_box{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2rem;
	padding: 2rem;
	height: 180px;
}
.default_small_box h1{
	font-weight: bold;
	font-size: 5rem;
}
.default_small_box_icon{
	font-size: 4rem;
	color: #2148d5;
}
.gold {
	color: gold; /* Set the color to gold */
  }
  
  .black {
	color: black; /* Set the color to black */
  }
  
  .drop-zone {
    width: 450px;
    min-height: 120px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed gray;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .drop-zone_input {
    display: none;
  }
  
  .drop-zone__files {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .drop-zone__file {
    max-width: 100px;
    text-align: center;
  }
  
  .drop-zone__file img {
    max-width: 100%;
    max-height: 80px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  @media screen and (max-width: 600px) {
	.drop-zone{
		width: 300px;
		min-height: 120px;
		padding: 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-family: "Quicksand", sans-serif;
		font-weight: 500;
		font-size: 16px;
		cursor: pointer;
		color: #cccccc;
		border: 4px dashed gray;
		border-radius: 10px;
		margin-bottom: 20px;
	  
	}
}
  //---------------------------------------------------
  .audit_list_detail_box{
	width: 30%;
	margin: 1.5rem;
}
.even-row {
	background-color: #ffffff; 
  }
  
.odd-row {
	background-color: #f9f9f9; 
  }
.audit_list_detail_row{
	width: 1180px;
  }
@media screen and (max-width: 1240px) {
	.audit_list_detail_box{
		width: 40%;
	}	
	
}
@media screen and (max-width: 1180px) {
	.audit_list_detail_row{
		max-width: 1180px;
		width: 100%;
	  }	
}
@media screen and (max-width: 875px) {
	.audit_list_detail_box{
		width: 70%;
	}	
}
@media screen and (max-width: 515px) {
	.audit_list_detail_box{
		width: 90%;
	}	
}
// ----------------------------------------------------------------------------------
.report_box_main{
	padding-bottom: 20px;
}
.reportbox{
	display: flex;
	justify-content: space-between;
}
.report_smallbox_width_progress{
	width: 25%;
	border-right: 1px solid #ddd;
	display: flex;
	flex-direction: column;
}
.submitted_report{
	padding: 10px;
	padding-right: 1rem;
	width: 100%;
}
.success_btn_report{
	margin-left: 10px;
	margin-bottom: 10px;
}
.report_smallbox_width{
	width: 25%;
	border-right: 1px solid #ddd;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	padding-top: 20px;
	padding-right: 5rem;
	padding-left: 20px;
}
.report_box_heading{
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
.report_box_heading_text{
	color: gray;
	font-size: 1.7rem;
}
.report_client_detail{
	padding-left: 20px;
	padding-right: 20px;
}

@media screen and (max-width: 700px) {
	.reportbox{
		flex-direction: column;
	}
	.report_smallbox_width{
		width: 100%;
		border-right: 0px solid #ddd;
		border-bottom: 1px solid #ddd;
		padding-bottom: 2rem;
		gap: 1rem;
	}
	.report_smallbox_width_progress{
		width: 100%;
		border-right: 0px solid #ddd;
		border-bottom: 1px solid #ddd;
		padding-bottom: 2rem;
	}
	.report_box_main{
		box-shadow: 0px 0px 5px rgb(169, 169, 169);
		padding-bottom: 0px;
		}
	.all_buttons * {
			margin-top: 10px;
		}
	}
@media screen and (max-width: 600px) {
	.report_box_heading{
		flex-direction: column;
		align-items: flex-start;
	}
}

// -------------------------------------
.ai_summary_box{
	padding: 1rem 2rem .5rem 2rem;
	box-shadow: 0px 0px 5px rgb(169,169,169);
	border-radius: 10px;
	margin-bottom: 1rem;
	}
	.ai_header_box{
		border-bottom: 1px solid #ddd;
		font-weight: bold;
		margin-bottom: 1rem;
	}
	.ai_see{
		color: #337ab7;
		font-size: 12px;
		text-decoration: underline;
		text-underline-offset: 3px;
		cursor: pointer;
	}
	.ai_loadmore{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 1rem;
		margin-top: 2rem;
	}
	.analyse_box{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}