<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <p>Dear {{email}},</p>

        I hope this email finds you well. I have created an action plan for <b>{{store_name}},{{store_address}},{{store_city}}</b> that I believe will help us achieve our goals effectively. 
        
        To solve the discrepancies in the SOP, the set agenda is as follows:
        
        <br/>
        <br/>
        Action Plan : <p>{{action_plan}}</p>

        Target Date : <p>{{target_date}}</p>

        If you have any questions, please feel free to reach out. 

        Best regards,
        {{admin_name}}


    </body>
</html>