<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <p>Dear {{email}},</p>

        I hope this email finds you well. I have created an action plan for <b>{{store_name}},{{store_address}},{{store_city}}</b> that I believe will help us achieve our goals effectively. 
        
        To solve the discrepancies in the SOP, the set agenda is as follows:
        
        <br/>
        <br/>
        Action Plan : <b>{{action_plan}}</b>
        <br/>
        Target Date : <b>{{target_date}}</b>
        <br/>
        If you have any questions, please feel free to reach out. 
        <br/>
        Best regards,<br/>
        {{admin_name}}


    </body>
</html>