{% extends 'nav/base.html' %}

{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Basic Details</h3>
	</div>
	<div class="panel-body">
		<a class="btn btn-default pull-right" href="{% url 'auditor:profile_info_edit' %}">EDIT</a>
		<p>First Name: {{ profile_info.first_name }}</p>
		<p>Last Name: {{ profile_info.last_name }}</p>
		<p>Gender: {{ profile_info.gender }}</p>
		<p>Education: {{ profile_info.education }}</p>
		<p>Date of Birth: {{ profile_info.date_of_birth }}</p>
		<p>Marital Status: {{ profile_info.marital_status }}</p>
		<p>Address: {{ profile_info.address }}</p>
		<p>City: {{ profile_info.city }}</p>
		<p>State: {{ profile_info.state }}</p>
		<p>Pincode: {{ profile_info.pincode }}</p>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Additional Details</h3> 
	</div>
	<div class="panel-body">
		<a class="btn btn-default pull-right" href="{% url 'auditor:additional_info_edit' %}">EDIT</a>
		<p>Has Car?: {{ additional_info.has_car }}</p>
		<p>Weekend Audit?: {{ additional_info.weekend_audit }}</p>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Bank Details</h3> 
	</div>
	<div class="panel-body">
		<a class="btn btn-default pull-right" href="{% url 'auditor:bank_info_edit' %}">EDIT</a>
		<p>Bank Name: {{ bank_info.bank_name }}</p>
		<p>A/C Name: {{ bank_info.account_holder_name }}</p>
		<p>A/C No.:{{ bank_info.account_number }}</p>
		<p>IFSC Code: {{ bank_info.ifsc_code }}</p>
	</div>
</div>

{% endblock %}
