<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Audit Application Recieved</h1>
		<p>Hello <b>{{ name }},</b></p>
    <p>Thank you for showing interest in FloorWalk.</p>
    <p>Your Application for audit at <b>{{ client }}</b> on <b>{{ audit_date }}</b> has been recieved.
			We would process your application and get back to you with confirmation soon.</p>
		<p>You will receive an email confirmation and phone call from project manager to explain the audit details.</p>
		<p><b>Do not conduct the audit until the application has been approved by project manager.</b></p>
		<p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
	</body>
</html>
