{% load markdown_deux_tags %}
<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Audit Assigned</h1>
		<p>Hello <b>{{ name }},</b></p>
		<p>We have approved your application to perform an audit at <b>{{ client }}</b> on <b>{{ audit_date }}</b>. You must log into the portal and go through the audit guidelines and questionnaire before agreeing to conduct the audit.</p>
		<p>The audit details are as follows:</p>
		<p><b>Store Name:</b> {{ store_name }}</p>
		<p><b>Store Address:</b> {{ store_address }}</p>
		<p><b>Audit Date:</b> {{ audit_date }}</p>
		<p><b>Note: It is mandatory to view the audit guidelines and questionnaire and agree to it before conducting the audit.</b></p>

		<p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
		<br>
		<br>
		<h6>Please note that this is system generated email. Do not reply to this email. For any queries, write to us at contactus@floorwalk.in</h6>
	</body>
</html>
