<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Audit Assigned</h1>
		<p>Hello <b>{{ name }},</b></p>
    <p>We have approved your application to perform audit at <b>{{ client }}</b> on <b>{{ audit_date }}</b>.</p>
		<p>The audit details are as follows:</p>
    <p><b>Store Name:</b> {{ store_name }}</p>
    <p><b>Store Address:</b> {{ store_address }}</p>
    <p><b>Audit Date:</b> {{ audit_date }}</p>
		<p><b>Note: You can view the questionnaire on the portal. It is recommended that you go through the questionnaire before conducting the audit.</b></p>
		<p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
	</body>
</html>
