<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                font-family: Verdana, sans-serif;
                font-size:medium;
            }
        </style>
      </head>
    <body>
        <p>Dear Receiver,</p>

        <p>Greetings from FloorWalk!</p>

        <p>
            We would like to inform you that your {{brand_name}} audit report for {{audit_cycle_name}} is ready. Please find the <b>{{store_name}}</b>, <b>{{city}}</b> dated <b>{{audit_date}}</b> feedback report attached to this email for your perusal.
        </p>
        
        <p>
            With Kind Regards,<br/>
            Team FloorWalk
        </p>
    </body>
</html>