<!DOCTYPE html>
<html>
	<head>
	</head>
	<p>
		<h1>Audit Declined By Auditor</h1>
		<p>Hello</p>
        <p>Auditor failed the audit report of <b>{{ client_name }}</b> of <b>{{ store_name }} </b>.</p>
		<p>Please Check the Audit Report by clicking the below button</p>
		<p><a href="{{ kronos_base_url }}{% url 'registration:manager_login' %}?next=/static/manager/index.html#/audit_store/{{audit_store_id}}/report" target="_blank" style="text-decoration:underline;background-color:#ffffff;border:solid 1px #3498db;border-radius:5px;box-sizing:border-box;color:#3498db;cursor:pointer;display:inline-block;font-size:14px;font-weight:bold;margin:0;padding:12px 25px;text-decoration:none;background-color:#3498db;border-color:#3498db;color:#ffffff;">Click Here</a></p>
<!--		<p><a href="http://localhost:8080/auth/manager/login?next=/static/manager/index.html#/audit_store/63/report" target="_blank" style="text-decoration:underline;background-color:#ffffff;border:solid 1px #3498db;border-radius:5px;box-sizing:border-box;color:#3498db;cursor:pointer;display:inline-block;font-size:14px;font-weight:bold;margin:0;padding:12px 25px;text-decoration:none;background-color:#3498db;border-color:#3498db;color:#ffffff;">Click Here</a></p>-->
        <p>--</p>
		<p>Thanks and regards</p>
		<br>
		<br>
	</body>
</html>
