<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Audit Cancellation</h1>
		<p>Hello <b>{{ name }},</b></p>
		<p>Your Audit at <b>{{ client }}</b> on <b>{{ audit_date }}</b> has been cancelled.</p>
    <p>We are sorry if this audit was not relevant to you. We will get back to you with more audits soon.</p>
		<p>Stay tuned for more interesting audits.</p>
		<p>--</p>
		<p>FloorWalk Team</p>
		<br>
		<br>
		<h6>Please note that this is system generated email. Do not reply to this email. For any queries, write to us at contactus@floorwalk.in</h6>
	</body>
</html>
