<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Audit is OK!</h1>
		<p>Hello <b>{{ name }},</b></p>
		<p>Your audit at <b>{{ client }}</b>, <b>{{ store_name }}</b> on <b>{{ audit_date }}</b> has been successfully verified by our QA Team and has been forwarded to the client for further review.</p>
		<p>Your audit will be accepted and payment will be processed <i>once we get confirmation</i> from our client.</p>
		<p>Thank You for showing interest and promptness in audits and reporting.</p>
		<p>We look forward to working with you again when we have good audits near you.</p>
		<p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
		<br>
		<br>
		<h6>Please note that this is system generated email. Do not reply to this email. For any queries, write to us at contactus@floorwalk.in</h6>
	</body>
</html>
