<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Audit Complete</h1>
		<p>Congratulations <b>{{ name }},</b></p>
    <p>Your audit at <b>{{ client }}</b> on <b>{{ audit_date }}</b> is complete.</p>
		<p>You will be updated after your payment is processed.</p>
    <p>Thank You for showing interest and promptness in audits and reporting.</p>
    <p>We look forward to working with you again when we have good audits near you.</p>
    <p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
	</body>
</html>
