<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Audit Rejected</h1>
		<p>Hello <b>{{ name }},</b></p>
    <p>Your audit at <b>{{ client }}</b> on <b>{{ audit_date }} has rejected due to non compliance of FloorWalk's regulations</b>.</p>
        <p><b>Reason : {{ message }} </b></p>
<!--		<p>We are sorry if the audit was not of your interest, but make sure you complete the audits if they are assigned to you henceforth.</p>-->
    <p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
		<br>
		<br>
		<h6>Please note that this is system generated email. Do not reply to this email. For any queries, write to us at contactus@floorwalk.in</h6>
	</body>
</html>
