<!DOCTYPE html>
<html lang="en">
<head>
  <title>Exciting Opportunity with FloorWalk - Earn upto 30% commission</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" style="font-family:sans-serif;font-size:14px;line-height:1.4;">
    <p>Dear Auditors,</p>
    <p>Here is a delightful opportunity for you!</p>
    <p>FloorWalk has partnered with InsuranceDekho to enable earning opportunities for auditors PAN India in the insurance sector. This partnership aims to generate new income opportunities for <b>YOU</b> to make upto 30% commission by selling insurance across the country.</p>
    <p>If this is an opportunity you are looking for, login in to your FloorWalk auditor account - <a href="https://portal.floorwalk.in/auth/login">FloorWalk - Shopper Login</a> and sign yourself up by visiting the <b>“Full time Opportunities”</b> tab in a few simple steps - </p><br>
    <img src="https://floorwalk-client-logos.s3.ap-south-1.amazonaws.com/LOGOS/Insurance+Dekho+Updated.png" class="img-thumbnail" style="width: 100%;"></img>
    <br><br>
    <p>Please make sure to read the instructions thoroughly before applying. You can also register yourself by clicking on the following link and filling in the required information - </p><br>
    <div class="text-center">
        <a href="https://forms.gle/Rnd9J65iHkpGdtwr5" style="border-radius: 2px;padding: 10px;color: #fff;background-color: #337ab7;border-color: #2e6da4;text-decoration: none;"><b>Click here</b></a>
    </div>
    <br>
    <p>Looking forward to receiving your application!</p>
    <br>
    <p>
        With kind regards,<br><br>
        Team FloorWalk
    </p>
</div>

</body>
</html>