{% load markdown_deux_tags %}
<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>We hope your audit went well</h1>
		<p>Hello <b>{{ first_name }},</b></p>

		<p>We trust your {{client}} audit on (<b>{{ audit_date }}</b>) went smoothly.
		<b>Please check your report submission timeline and ensure that you submit the report along with all mandatory proofs before the deadline to avoid audit failure.</b>
		</p>
		<br>
		<p>Thanks and Regards,</p>
		<p>Team FloorWalk</p>

	</body>
</html>
