{% load markdown_deux_tags %}
<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>We hope your audit went well</h1>
		<p>Hello <b>{{ first_name }},</b></p>
		<p>This email is just to check in on your {{client}} audit that was scheduled today (<b>{{ audit_date }}</b>).</p>

		<p>If for any reason you were not able to perform today's audit, please inform your project manager on call as soon as possible.</p>
		<p>Please make sure you fill out and submit the audit report by the <b>end of next day</b> along with all the audit proofs duly attached.</p>

		<p>Please also make sure you have filled all your <b>Bank Details correctly</b> in your profile so that the audit fees can be processed smoothly once your report has been verified and accepted by the client.</p>

		<p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
	</body>
</html>
