<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Payments processed by Floorwalk</h1>
		<p>Congratulations <b>{{ name }},</b></p>
		<p>Your audit fees/reimbursements <b>{{ client }}</b>, <b>{{ store_name }}</b> on <b>{{ audit_date }}</b> have been processed.</p>
		<p>An amount of INR {{ amount }} has been transferred to you by our operations team.</p>
		<p>The payments will be credited in your account within next 24 hours. If you still don't receive the payments, please write an email to {{ ACCOUNTS_EMAIL }}, with your name, email, audit brand name.</p>
		<p>We hope you had a good experience in performing the audit for {{client}}.</p>
		<p>We look forward to working with you again.</p>
		<p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
		<br>
		<br>
	    <h6>Please note that this is system generated email. Do not reply to this email. For any queries, write to us at contactus@floorwalk.in</h6>
	</body>
</html>
