<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Payment Failed</h1>
		<p>Hi <b>{{ name }},</b></p>
		<p>Our attempt to transfer payment for your <b>{{ client }}</b> audit at <b>{{ store_name }}</b> conducted on <b>{{ audit_date }}</b> has failed.</p>
		<p>Please login and ensure that your bank details are correct.</p>
		<p>Once you have corrected your bank details, please write to us at {{ ACCOUNTS_EMAIL }} so that we can process your payment.</p>
		<p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
		<br>
		<br>
	    <h6>Please note that this is system generated email. Do not reply to this email. For any queries, write to us at contactus@floorwalk.in</h6>
	</body>
</html>