{% load markdown_deux_tags %}
<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Let's get this report filled</h1>
		<p>Hello <b>{{ first_name }},</b></p>

		<p>We noticed that you still haven't submitted the report for your {{client}} audit that took place yesterday (<b>{{ audit_date }}</b>).
		Please fill out and submit the report as soon as possible to <b>prevent failure of your audit</b>.
		</p>

		<p>Please also make sure you have filled all your <b>Bank Details correctly</b> in your profile so that the audit fees can be processed smoothly once your report has been verified and accepted by the client.</p>

		<p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
	</body>
</html>
