<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Audit Application Rejected</h1>
		<p>Hello <b>{{ name }},</b></p>
    <p>Thank you for showing interest in FloorWalk. We are sorry to inform that your audit application at <b>{{ client }}</b> on <b>{{ audit_date }}</b> cannot be processed further.</p>
		<p>This is due to a limited requirement from our client this time.</p>
    <p>We are sorry it didn't work out well this time, however stay tuned for more audit opportunities</p>
    <p><b>Note: Please do not conduct the audit as there is no requirement for the same from the client.</b></p>
    <p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
	</body>
</html>
