<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Audit Report Accepted</h1>
		<p>Congratulations <b>{{ name }},</b></p>
    <p>Your audit report for <b>{{ client }}</b> on <b>{{ audit_date }}</b> has been accepted by the client.</p>
    <p>Your payments will be processed shortly and you will be notified after you payment is processed.</p>
    <p>Thank You for showing interest and promptness in audits and reporting.</p>
    <p>We look forward to working with you again when we have good audits near you.</p>
    <p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
	</body>
</html>