<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Audit Report Accepted</h1>
		<p>Congratulations <b>{{ name }},</b></p>
		<p>Your audit report for <b>{{ client }}</b>, <b>{{ store_name }}</b> on <b>{{ audit_date }}</b> has been accepted by the client.</p>
		<p>Your pending payments should start reflecting in the payments tab and will be processed as soon as we are ready.</p>
		<p>You will also be notified after your payment is processed.</p>
		<p>We look forward to working with you again.</p>
		<p><b>Payment terms:</b> Payments will be transferred to your bank account in the next payment cycle. Our payment cycles are 15th & 30th of every month. It might take within 48 hours to transfer the amount into your bank account depending on the working day and bank holidays. For any payment related queries, please write to us at {{ ACCOUNTS_EMAIL }}.</p>
		<p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
		<br>
		<br>
	    <h6>Please note that this is system generated email. Do not reply to this email. For any queries, write to us at contactus@floorwalk.in</h6>
	</body>
</html>
