<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Audit Payment Processed</h1>
		<p>Congratulations <b>{{ name }},</b></p>
        <p>Your audit payment for <b>{{ client }}</b> conducted on <b>{{ audit_date }}</b> has been processed. A payment amount of <b>INR {{amount}}</b> has been transferred to your account.</p>
    <p>Hope you had a good experience performing audits with us.</p>
    <p>We look forward to working with you again.</p>
    <p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
	</body>
</html>