<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Audit Report Submitted</h1>
		<p>Hello <b>{{ name }},</b></p>
		<p>Thank you for submitting the report for audit that you performed for <b>{{ client }}</b>, <b>{{ store_name }}</b> on <b>{{ audit_date }}</b>.</p>
		<p>The report will be reviewed by our QA team and you will be notified about it as soon as it happens.</p>
		<p>You are requested to be available on call in case there are any rectifications needed.</p>
		<p>The audit will be marked as complete once the report has been verified and accepted by our client</p>
		<p><b>Payment Terms</b>: Payment will be transferred into your bank account within 45 days after the completion of the <b>respective month of your report submission.</b> The status of the report can be seen on the portal in the audits section.</p>
		<p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
		<br>
		<br>
		<h6>Please note that this is system generated email. Do not reply to this email. For any queries, write to us at contactus@floorwalk.in</h6>
	</body>
</html>
