<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Audit Report Submitted</h1>
		<p>Hello <b>{{ name }},</b></p>
    <p>Thank you for submitting the report for audit that you performed for <b>{{ client }}</b> on <b>{{ audit_date }}</b>.</p>
		<p>The report will be reviewed by our project managers and you will be notified about it shortly.</p>
    <p>The audit will be marked as complete once the report has been verified and accepted by our client</p>
    <p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
	</body>
</html>
