<html>
    <head>
    </head>
    <body>
        <p>Dear Admin</p>
        <p>{{subject_text}}</p>
        <br>
            <table border="1" cellpadding="8" cellspacing="0" width="700">
                <tr>
                    <th style="font-size: 14px;">Audit Cycle Name</th>
                    <th style="font-size: 14px;">Responsible Person</th>
                    <th style="font-size: 14px;">Target Date</th>
                    <th style="font-size: 14px;">Action Plan</th>
                    
                    <th style="font-size: 14px;"></th>
                </tr>
                {% for i in action_list %}
                    <tr>
                        <td style="font-size: 13px;">{{i.cycle_name}}</td>
                        <td style="font-size: 13px;">{{i.person}}</td>
                        <td style="font-size: 13px;">{{i.target_date}}</td>
                        <td style="font-size: 13px;">{{i.description}}</td>
                        
                    </tr>
                {% endfor %}
            </table>
        <br>
        <p>Please check the action plan reminders</p>
        <p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
		<br>
		<br>
		<h6>Please note that this is system generated email. Do not reply to this email. For any queries, write to us at contactus@floorwalk.in</h6>
    </body>
</html>
