<html>
    <head>
    </head>
    <body>
        <p>Dear {{admin_name}}</p>
        <paragraph>
            I hope this email finds you well. I wanted to send a quick reminder regarding the targeted date of the action plan that has been assigned to {{perosn_full_name}}--{{person}} is today, i.e., {{target_date}} the last login activity of the Store manager is {{last_login}}..
            I kindly request you to review the progress made by the Store Manager and provide any necessary guidance or support.
        </paragraph>
        <p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
		<br>
		<br>
		<h6>Please note that this is system generated email. Do not reply to this email. For any queries, write to us at contactus@floorwalk.in</h6>
    </body>
</html>
