<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Audit Report Unsubmitted</h1>
		<p>Hello <b>{{ name }},</b></p>
    <p>We are sorry to inform you that your audit report for <b>{{ client }}</b> on <b>{{ audit_date }}</b> has some inconsistencies.</p>
		<p>We have unsubmitted your report so that you can make the necessary modifications and submit again.</p>
    <p>Don't worry, our project manager will contact you shortly and help you with reporting.</p>
    <p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
	</body>
</html>
