<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Audit Report Reverted</h1>
		<p>Hello <b>{{ name }},</b></p>
		<p>Your audit report for <b>{{ client }}</b> on <b>{{ audit_date }}</b> needs some rectifications and improvements.</p>
		<p>We have reverted your report so that you can make the necessary modifications and submit again.</p>
		<p>Reason: {{message}}</p>
		{% if proof_tags %}
		<p>Missing proof tags:</p>
		<ul>
			{% for proof in proof_tags %}
			<li><b>{{ proof }}</b></li>
			{% endfor %}
		</ul>
		{% endif %}
		<br>
		{% if proof_tags %}
		<p>Please attach the missing proofs and resubmit the report within 8 hours to avoid report failure.</p>
		{% else %}
		<p>Please click on the link, add required information and resubmit the report within 8 hours to avoid report failure.</p>
		{% endif %}
		<p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
		<br>
		<br>
	    <h6>Please note that this is system generated email. Do not reply to this email. For any queries, write to us at contactus@floorwalk.in</h6>
	</body>
</html>
