{% load markdown_deux_tags %}
<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Audit Wait Listed</h1>
		<p>Hello <b>{{ name }},</b></p>
		<p>We have waitlisted your application to perform audit at <b>{{ client }}</b> on <b>{{ audit_date }}</b>.</p>
		<p>This means that your application will be given preference over other applications during assignment. Note that this does not guarantee that you will be selected to conduct the audit.</p>
		<p>You will be informed by email whenever your application is approved.</p>

		<p><b>Note:</b> If in case, you do not want to conduct the audit, please log in to the portal and cancel your application now.</p>

		<p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
		<br>
		<br>
		<h6>Please note that this is system generated email. Do not reply to this email. For any queries, write to us at contactus@floorwalk.in</h6>
	</body>
</html>
