<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Audit Withdrawn</h1>
		<p>Hello <b>{{ name }},</b></p>
    <p>Due to unavoidable circumstances, your audit at <b>{{ client }}</b> on <b>{{ audit_date }}</b> has been withdrawn.</p>
    <p>Inconvenience caused is deeply regretted. We would take care that such incidents do not occur in future.</p>
    <p>Please stay tuned with FloorWalk for more audits.</p>
		<p><b>Note: Please do not conduct the audit as there is no requirement for the same from the client.</b></p>
    <p>--</p>
		<p>Thanks and regards,</p>
		<p>FloorWalk Team</p>
	</body>
</html>
