{% load widget_tweaks %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %} FloorWalk</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" 
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/static/img/favicon_64x64.png" type="image/png" />
	</head>
	<body class="container">
		<div style="min-height:700px;">
		{% block content %}
		{% endblock %}
		</div>
		{% include "registration/footer.html" %}
		{% include "registration/ga.html" %}
	</body>
</html>

