{% load static %}
<hr/>
<p class="text-center">
	<img style="height:30px" src="{% static 'registration/logo_500x300.png' %}"/>
</p>
<p class="text-center text-muted small">
	<a href="{{rhea_base_url}}">{{rhea_domain}}</a> |
	<a href="mailto:{{SUPPORT_EMAIL}}">{{ SUPPORT_EMAIL }}</a> |
	<!-- {% comment %} <a href="tel:{{ SUPPORT_PHONE }}">{{ SUPPORT_PHONE }}</a> | {% endcomment %} -->
	<a href="{{ TW_PAGE_URL }}">@{{ TW_USERNAME }}</a> |
	v{{ PHOEBE_VERSION }}
</p>
<p class="text-center text-muted small">
	{{ brand_name }} &copy; 2014 - Present
</p>
