{% extends "registration/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Password Recovery |{% endblock %}
{% block content %}
<script src="https://www.google.com/recaptcha/api.js"></script>
<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<h1 class="page-header">
			<a href="{{rhea_base_url}}">
				<img class="img-responsive" style="margin-left:auto;margin-right:auto;" src="{% static 'registration/logo_200x120.png' %}"/>
			</a>
		</h1>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Password Recovery</h3>
			</div>
			<div class="panel-body">
				<form action="{% url 'registration:password_reset' %}" onsubmit="return setAction()"  method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label>{{ form.email.label }}</label>
						{{ form.email |add_class:'form-control' | attr:"placeholder:name@example.com"}}
					</div>
					<div class="g-recaptcha" data-sitekey="6LfIZaIlAAAAAMiOSnOm2T6Ufhvi6TfD3HxuVoP-">
					</div>
					<br/>
					<div class="form-group">
						<button class="btn btn-primary btn-lg">Reset</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	function setAction() {
	var cap=grecaptcha.getResponse()
	if (cap.length>1){
		return true;
	}
	else{
		alert("Please Enter Captcha");
		return false;
	}
}
</script>
{% include "registration/tawk.html" %}
{% endblock %}
