<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Your password reset has been initiated.</h1>
		<p>Someone has initiated a password reset for your FloorWalk account with the email address: {{ email }}</p>
		<p>Please <a href="{{ protocol }}://{{ domain }}{% url 'registration:password_reset_confirm' uidb64=uid token=token %}">Click Here</a> to set your new password or copy and paste the link below in your browser address bar.</p>
		<p><b>Recovery Link:</b> {{ protocol }}://{{ domain }}{% url 'registration:password_reset_confirm' uidb64=uid token=token %}</p>
		<p>If you did not initiate this password reset, please delete or ignore this email.</p>
		<p>--</p>
		<p>Floorwalk Team</p>
	</body>
</html>
