{% extends "registration/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<h1 class="page-header">
			<a href="/">
				<img class="img-responsive" style="margin-left:auto;margin-right:auto;" src="{% static 'registration/logo_3_500x100.png' %}"/>
			</a>
		</h1>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Password Change</h3>
			</div>
			<div class="panel-body">
				<form method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label>{{ form.old_password.label }}</label>
						{{ form.old_password |add_class:'form-control' }}
						<p class="help-block">
						{{ form.old_password.errors }}
						</p>
					</div>
					<div class="form-group">
						<label>{{ form.new_password1.label }}</label>
						{{ form.new_password1 |add_class:'form-control' }}
						<p class="help-block">
						{{ form.new_password1.errors }}
						</p>
					</div>
					<div class="form-group">
						<label>{{ form.new_password2.label }}</label>
						{{ form.new_password2 |add_class:'form-control' }}
						<p class="help-block">
						{{ form.new_password2.errors }}
						</p>
					</div>
					<div class="form-group">
						<button class="btn btn-primary btn-lg" type="submit">Change</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
