{% extends "registration/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Auditor Sign Up |{% endblock %}
{% block content %}

<style>
.page-header{
	margin: 20px 0 10px !important;
}
</style>

	<div class="row">
		<div class="col-md-5">
		</div>
	</div>
<div class="row">
	<div class="col-md-5">
		<h1 class="text-center" style="margin:40px 0px 20px">
			<a href="{{rhea_base_url}}">
				<img src="{% static 'registration/logo_200x120.png' %}"/>
			</a>
		</h1>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Sign Up for a <b>new FloorWalk account</b></h3>
			</div>
			<div class="panel-body">
				{% if x.non_field_errors %}
				<div class="alert alert-warning">
					{{ form.non_field_errors }}
				</div>
				{% endif %}
				<form action="{% url 'registration:signup' %}" method="POST" id="signup_form">
					{% csrf_token %}
					<div class="form-group">
						<label>Email Address</label>
						{{ form.username | add_class:"form-control input-lg" | attr:"placeholder:name@example.com" | attr:"type:email"}}
						<p class="help-block">
						{{ form.username.errors }}
						</p>
					</div>
					<div class="form-group">
						<label class="control-label" for="{{form.phone.auto_id}}">10-digit Mobile Number:</label>
						<div class="input-group">
							<span class="input-group-addon">+91-</span>
						{{ form.phone | add_class:"form-control input-lg" | attr:"placeholder:your primary contact number" | attr:"type:tel"}}
						</div>
						<p class="help-block">
						{{ form.phone.errors }}
						</p>
					</div>
					<div class="form-group has-feedback">
						<label class="control-label" for="{{form.password1.auto_id}}">{{form.password1.label}}:</label>
						{{ form.password1 | add_class:"form-control input-lg" | attr:"placeholder:a secret password"}}
						<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" id="p1-icon" style="display:none"></span>
						<p class="help-block">
						{{ form.password1.errors }}
						{{ form.password2.errors }}
						</p>
					</div>
					<div class="form-group has-feedback" style="display:none">
						<label class="control-label" for="{{form.password2.auto_id}}">{{form.password2.label}}:</label>
						{{ form.password2 | add_class:"form-control input-lg" | attr:"placeholder:please repeat your password"}}
						<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" id="p2-icon" style="display:none"></span>
						<p class="help-block">
						</p>
					</div>
					<div class="form-group">
						<div id="referral_block">
						{{ form.referred_by.label_tag }}
						{{ form.referred_by | add_class:"form-control input-lg" | attr:"placeholder:referral code of your friend"}}
						<p class="help-block">
						{{ form.referred_by.errors }}
						</p>
						</div>
					</div>
					<div id="tos_block" class="form-group" style="display:none;">
						<table>
							<tr>
							<td style="padding:5px;">
						<input type="checkbox" name="{{ form.tos_accept.name }}" checked
							id="{{form.tos_accept.auto_id}}" required
							style="width:30px;height:30px;"/>
							</td>
							<td style="padding:5px;">
						<label for="{{form.tos_accept.auto_id}}">
							I accept FloorWalk's <a href="{{ rhea_base_url }}/privacy_policy.html" target="_blank">Privacy Policy</a> and <a href="{{ rhea_base_url }}/contractor_agreement.html" target="_blank">Independent Contractor Agreement</a>.
						</label>
							</td>
						</tr>
						</table>
					</div>
						{% if not form.referred_by.value %}
						<div class="pull-right">
							<a href="#" id="show_referral" tabindex="-1">I have a referral code</a>
						</div>
						<script>
							document.getElementById("referral_block").style.display = "none";
							document.getElementById("show_referral").addEventListener('click', function(e){
								e.preventDefault();
								e.target.remove();
								var input = document.getElementById("referral_block");
								input.style.display = "block";
								document.getElementById("{{ form.referred_by.auto_id }}").focus();
							});
						</script>
						{% endif %}
					<div class="form-group">
						<button class="btn btn-primary btn-lg" type="submit" style="">Sign Up</button>
					</div>
				</form>
			</div>
			<div class="panel-footer">
				<p>Already have an account? <a href="{% url 'registration:login' %} ">Login here</a></p>
			</div>
		</div>
	</div>
	<div class="col-md-7">

		<h1 class="page-header">Here's How it Works!</h1>
		<h4 class="">Go shopping as a Mystery Shopper. Give us your feedback and get paid. Simple!!</h4>
		<br/>
		<div class="row">
			<div class="col-md-6">
				<img class="img-responsive center-block" width="150" height="150" src="{% static 'registration/signup/grab_the_deal.png' %}" alt=""/>
				<h3 class="text-center">1. Grab the Deal</h3>
				<p class="text-center">Tell us your interests and we give you a shop</p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive center-block" width="150" height="150" src="{% static 'registration/signup/go_shopping.png' %}" alt=""/>
				<h3 class="text-center">2. Go Shopping</h3>
				<p class="text-center">Keenly observe a few things while shopping</p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive center-block" width="150" height="150" src="{% static 'registration/signup/tell_us_your_experience.png' %}" alt=""/>
				<h3 class="text-center">3. Tell us your experience</h3>
				<p class="text-center">Report your observations and experience</p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive center-block" width="150" height="150" src="{% static 'registration/signup/get_paid.jpeg' %}" alt=""/>
				<h3 class="text-center">4. Get Paid</h3>
				<p class="text-center">Get reimbursed for your shopping and make some extra money</p>
			</div>
		</div>

		<hr>
		<iframe width="100%" height="355"
		allowFullScreen="allowFullScreen"
		frameBorder="0"
		src="https://www.youtube.com/embed/ONxB8PDpLh8">
		</iframe>

	</div>
</div>
{% include "registration/tawk.html" %}
	<script>
		var isValidPassword = function(password){
			if(!password){
				return [false, "password cannot be blank", 0];
			}
			if(password.length < 8){
				return [false, "password must be atleast 8 characters", 0];
			}
			if(password.length > 12){
				return [true, null, 3];
			}
			if(password.length > 8){
				return [true, null, 2];
			}
			if(password.length === 8){
				return [true, null, 1];
			}
		};
		var checkPasswords = function(password1, password2){
			return isValidPassword(password1)[0] && password1 && password2 && password1 === password2;
		};
		var checkPhone = function(phone){
			return /[0-9]{10}/.test(phone);
		};
	(function(){

		var resetPasswordValidationState = function(){
			var p1 = document.querySelector("#id_password1");
			var p1_icon = document.querySelector("#p1-icon");
			p1.parentNode.classList.remove("has-error");
			p1.parentNode.classList.remove("has-success");
			p1_icon.style.display = "none";
			p1_icon.classList.remove("glyphicon-ok");
			p1_icon.classList.remove("glyphicon-remove");
		};

		var setPasswordInvalidState = function(v){
			resetPasswordValidationState();
			var p1 = document.querySelector("#id_password1");
			var p1_icon = document.querySelector("#p1-icon");

			p1.parentNode.classList.add("has-error");
			p1.parentNode.querySelector("p").innerHTML = "<span class='text-danger'>" + v[1] + "</span>";
		};

		var setPasswordValidState = function(){
			resetPasswordValidationState();
			var p1 = document.querySelector("#id_password1");
			var p1_icon = document.querySelector("#p1-icon");

			p1.parentNode.classList.add("has-success");
			p1_icon.style.display = "block";
			p1_icon.classList.add("glyphicon-ok");
			p1.parentNode.querySelector("p").innerHTML = "";
		};

		var resetPasswordConfirmationState = function(){
			var p2 = document.querySelector("#id_password2");
			var p2_icon = document.querySelector("#p2-icon");
			p2.parentNode.classList.remove("has-error");
			p2.parentNode.classList.remove("has-success");
			p2_icon.style.display = "none";
			p2_icon.classList.remove("glyphicon-ok");
			p2_icon.classList.remove("glyphicon-remove");
		};

		var setPasswordConfirmationError = function(){
			resetPasswordConfirmationState();
			var p2 = document.querySelector("#id_password2");
			var p2_icon = document.querySelector("#p2-icon");
			p2.parentNode.classList.add("has-error");
			p2.parentNode.querySelector("p").innerHTML = "<span class='text-danger'>passwords do not match</span>";
		};

		var setPasswordConfirmationSuccess = function(){
			resetPasswordConfirmationState();
			var p2 = document.querySelector("#id_password2");
			var p2_icon = document.querySelector("#p2-icon");
			p2.parentNode.classList.add("has-success");
			p2_icon.style.display = "block";
			p2_icon.classList.add("glyphicon-ok");
			p2.parentNode.querySelector("p").innerHTML = "";
		};

		var confirmPasswordEquals = function(){
			resetPasswordConfirmationState();
			var p1 = document.querySelector("#id_password1");
			var p2 = document.querySelector("#id_password2");
			if(checkPasswords(p1.value, p2.value)){
				setPasswordConfirmationSuccess();
			} else {
				setPasswordConfirmationError();
			}
		};

		document.querySelector("#id_password1").addEventListener("focus", function(e){
			document.querySelector("#id_password2").parentNode.style.display = "block";
			document.querySelector("#tos_block").style.display = "block";
		});

		document.querySelector("#id_password1").addEventListener("keyup", function(e){
			var p1 = e.target;

			var v = isValidPassword(p1.value);

			if( ! v[0]){
				setPasswordInvalidState(v);
			} else {
				setPasswordValidState();
			}
		});

		document.querySelector("#id_password2").addEventListener("keyup", confirmPasswordEquals);

		document.querySelector("#id_phone").addEventListener("keyup", function(e){
			if( ! checkPhone(e.target.value)){
				e.target.parentNode.classList.add("has-error");
				e.target.parentNode.parentNode.querySelector("p").innerHTML = "<span class='text-danger'>invalid mobile number</span>";
			} else {
				e.target.parentNode.classList.remove("has-error");
				e.target.parentNode.parentNode.querySelector("p").innerHTML = "";
			}
		});

		document.querySelector("#signup_form").addEventListener("submit", function(e){
			var p1 = document.querySelector("#id_password1");
			var p2 = document.querySelector("#id_password2");
			var phone = document.querySelector("#id_phone");

			if( ! checkPasswords(p1.value, p2.value) || ! checkPhone(phone.value)){
				e.preventDefault();
			}
		});

		resetPasswordConfirmationState();
	})();
	</script>
{% endblock %}
